.modalBackground{
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer{
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.titleCloseBtn{
  display: flex;
  justify-content: end;
}